.DS_Store
*.pyc
registration
Pipfile
Pipfile.lock

.pytest_cache/
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.env.local
.env.*.local
.venv
venv/
ENV/
venv.bak/
.sass-cache/
.cache
node_modules/
client/node_modules/
dist/
dist-ssr/
*.local
db.sqlite3
.DS_Store
*.swp
*.swo

.ruff_cache/
.history/
.vscode/
.idea/

.coverage